html,
body {
  height: 100%;
  font-size: 1rem;
}

.gradient {
  background: black;
}

.white-text {
  color: white;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

